In [8]:
import numpy as np
import pandas as pd

In [4]:
df = pd.DataFrame(columns=['CAR_ID','YEAR','MILEAGE','MANUFACTURER'])

In [25]:
for i in range(1, 110000):
    year = np.random.randint(1950,2020)
    mil = np.random.randint(0,100000)
    man = np.random.randint(1,15)
    df.loc[i-1] = {'CAR_ID':i, 'YEAR':year, 'MILEAGE':mil, 'MANUFACTURER':man}

In [28]:
df.head()

   CAR_ID  YEAR  MILEAGE  MANUFACTURER
0       1  1999    92313             8
1       2  1962    52923             3
2       3  1954      583             1
3       4  1983    45924             6
4       5  1990    81769            12

In [30]:
df.to_csv("/Users/vitalij/Desktop/cars.csv", index=False)

In [31]:
emp = pd.DataFrame(columns=['EMP_ID','DEPARTMENT'])

In [34]:
for i in range(1, 500):
    man = np.random.randint(1,4)
    emp.loc[i-1] = {'EMP_ID':i, 'DEPARTMENT':man}

In [35]:
emp.to_csv("/Users/vitalij/Desktop/emp.csv", index=False)

In [42]:
det = pd.DataFrame(columns=['RENT_ID','DATE_FROM','DATE_TO','CAR_ID',
                            'CITY_TAKEN','CITY_RETURNED','INSURANCE','PAYMENT','ISSUER_ID','FEES'])

In [61]:
for i in range(1, 150000):
    d1 = np.random.randint(2010,2020)
    d11 = np.random.randint(1,12)
    d111 = np.random.randint(1,28)
    d2 = np.random.randint(2010,2020)
    d22 = np.random.randint(1,12)
    d222 = np.random.randint(1,28)
    car = np.random.randint(1,110000)
    city1 = np.random.randint(1,8)
    city2 = np.random.randint(1,8)
    ins =  np.random.randint(1,4)
    pay =  np.random.randint(1,4)
    emp = np.random.randint(1,500)
    fee = np.random.randint(1,5)
    date1 = str(min(d1,d2))+'-'+str(min(d11,d22))+'-'+str(min(d111,d222))
    date2 = str(max(d1,d2))+'-'+str(max(d11,d22))+'-'+str(max(d111,d222))
    det.loc[i-1] = {'RENT_ID':i, 'DATE_FROM':date1,'DATE_TO':date2, 'CAR_ID':car, 'CITY_TAKEN':city1, 
                    'CITY_RETURNED':city2, 'INSURANCE':ins, 'PAYMENT':pay, 'ISSUER_ID':emp, 'FEES':fee  }

In [62]:
det.to_csv("/Users/vitalij/Desktop/det.csv", index=False)